* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Al Nile";

}

.primary {
    color: orange;
}

body {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#ff0066, #738188);
}

.motionblur {
    position: absolute;
    bottom:  100px;
    display: flex;
    width: 100%;
}

.motionblur span {
    height: 60px;
    width: 60px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(5px);
    animation: move 10s linear infinite;
    position: relative;
    overflow: hidden;
}

@keyframes move {
    100% {
        transform: translate(-90vh);
    }
}
.motionblur span.one {
    animation-delay: 2s;
    transform: scale(0.5);
}
.motionblur span.two {
    animation-delay: 3.5s;
    transform: scale(1.5);

}
.motionblur span.three {
    animation-delay: 2.7s;
    transform: scale(2.3);

}
.motionblur span.four {
    animation-delay: 4s;
    transform: scale(0.1);

}
.motionblur span.five {
    animation-delay: 1.2s;
    transform: scale(3.3);

}
.motionblur span.six {
    animation-delay: 2.3s;
    transform: scale(2.9);

}
.motionblur span.seven {
    animation-delay: 0.3s;
    transform: scale(3.9);
}

.motionblur span.eight {
    animation-delay: 0.6s;
    transform: rotate(15deg);
}

.motionblur span.nine {
    animation-delay: 0.9s;
    transform: rotate(5deg);
}

.motionblur span.ten {
    animation-delay: 1.3s;
    transform: rotate(9deg);
}

.motionblur span.eleven {
    animation-delay: 2.3s;
    transform: rotate(11deg);
}
.motionblur span.twelve {
    animation-delay: 3.3s;
    transform: rotate(45deg);
}
.motionblur span.thirteen {
    animation-delay: 5.7s;
    transform: rotate(51deg);
}
.motionblur span.fourteen {
    animation-delay: 1.9s;
    transform: rotate(68deg);
}
.motionblur span.fifteen {
    animation-delay: 0.3s;
    transform: rotate(90deg);
}

.motionblur span:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 60px;
    width: 40%;
    transform: skew(45deg) translateX(150px);
    background: rgba(255, 255, 255, 0.15);
    animation: mirror 3s linear infinite;

}

@keyframes mirror {
    100% {
        transform: translate(-450px);
    }
}

.motionblur span.one:before{
    animation-delay: 1s;
}

.motionblur span.two:before{
    animation-delay: 1.3s;
}

.motionblur span.three:before{
    animation-delay: 2.5s;
}

.motionblur span.four:before{
    animation-delay: 3.5s;
}

.motionblur span.five:before{
    animation-delay: 4.1s;
}

.motionblur span.six:before{
    animation-delay: 0.7s;
}

.motionblur span.seven:before{
    animation-delay: 0.2s;
}

.container {
    width: 360px;
    padding: 15px;
    border-radius: 12px;
    backdrop-filter: blur(5px);
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
    background: rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);

}
.container input[type="text"] {
    width: 100%;
    height: 100px;
    margin: 0 3px;
    outline: none;
    border: none;
    color: #fff;
    text-align: right;
    font-size: 20px;
    padding-right: 10px;
    background: transparent;
}

.container input[type="button"] {
    height: 65px;
    color: #fff;
    width: calc(100% / 4 - 5px);
    background: transparent;
    border-radius: 12px;
    margin-top: 15px;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease;

}
.container input[type="button"]:hover {
    background: rgba(255, 255, 255, 0.1);
}
